.cinemas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  background-color: wheat;
  border-radius: 20px;
  max-width: 900px;
  margin: 40px auto;
}

@media (max-width: 999px) {
  .cinemas {
    margin: 40px;
  }
}

.cinemas > h3 {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}