.movieSpace {
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgb(204, 190, 190);
  box-shadow: 0 0 10px #333;
  background-color: beige;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.movieSpace:hover {
  box-shadow: 0 0 40px #333;
  transform: scale(1.1, 1.05);
}

.movieSpace > img {
  max-width: 300px;
  max-height: 400px;
}

.logo {
  max-width: 75px;
}

p {
  vertical-align: middle;
}