.button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #4e1d04;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
}

.button:hover {
  background-color: #3d1703;
}

.pushed {
  color: #4e1d04;
  background-color: #fff;
  border-color: #4e1d04;
  border: 1px;
}

.pushed:hover {
  background-color: #eee;
}

.cinema-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #0ed108;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
}

.schedule {
  background-color: #29a525;
}

.schedule:hover {
  background-color: #247c21;
}