.movie-page {
  max-width: 1200px;
  margin: auto;
}

.movie-about {
  margin: 20px auto;
  display: flex;
  flex-direction: row;

}

.movie-about > img {
  max-width: 300px;
  height: 450px;
  margin-left: 20px;
}

.movie-info {
  margin-left: 20px;
}

.movie-page-rating {
  display: flex;
  flex-direction: row;
}
.movie-page-rating > p {
  margin: auto 0;
}

.showtimes {
  margin: 20px auto;
}

.theater-showtimes {
  margin: auto 20px;
}

.schedules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.youtubevideowrap {
  width: 94%;
  max-width: 640px;
  margin: auto 20px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  .movie-page {
    text-align: center;
  }

  .movie-about {
    flex-direction: column;
  }

  .movie-about > img {
    margin: auto;
  }

  .movie-page-rating {
    justify-content: center;
  }

  .youtubevideowrap {
    margin: auto;
  }
}

.movie-notfound {
  text-align: center;
}