.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 10px 50px;
  flex-wrap: wrap;
  background: burlywood;
  font-size: 1.8em;
}

.home-button {
  width: 43px;
  height: 45px;
  margin: auto 30px auto 0;
}

.home-button > img {
  max-width: 100%;
}

.upcoming-button {
  color: #000;
}