.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 25px 50px;
  flex-wrap: wrap;
  background: burlywood;
  font-size: 2em;
}

.home-button {
  margin: 0 2em 0 0;
  color: #000;
}

.upcoming-button {
  margin: 0;
  color: #000;
}